Dashboard.css
.dashboard-card {
    margin-bottom: 20px;
  }
  

  .sidebar {
    transition: width 0.3s ease;
    /* background-color: brown; */
  
    /* margin-left: 10px; */
    
  }
  
  .sidebar.active {
    width: 200px; 
  }
  
  .sidebar-col {
    transition: margin-left 0.3s ease;
  }
  
  .sidebar-col .sidebar {
    width: 200px;
  }
  
  .sidebar-col .sidebar.active {
    width: 200px; 
   
  }
  