@import "./scss/media-queries";
@import "./scss/extends";
@import "./scss/mixims";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.investment {
  background: #f8f8f8;
  width: 100%;
  min-height: 84rem;
  h1 {
    padding-top: 2.27rem;
    padding-left: 4rem;
  }
  .section1 {
    width: 68.51369rem;
    min-height: 52.66656rem;
    background: var(--white-100, #fff);
    padding: 1.12rem 1.56rem;
    margin: auto;
    margin-top: 0.68rem;
    .myCards {
      @include grid(4);
      .Card {
        width: 15.625rem;
        height: 9.375rem;
        border-radius: 0.3125rem;
        padding-left: 1.56rem;
        padding-top: 1.06rem;
        .title {
          color: var(--dark-color-dark-3, #8f90a6);
          font-family: Inter;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.125rem; /* 112.5% */
        }
        .total {
          color: var(--dark-color-dark-1, #3a3a3c);
          font-family: Inter;
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.875rem; /* 93.75% */
          margin-top: 0.94rem;
        }
        .InvImgs {
          @include flex_between();
          position: relative;
          justify-content: start;
          img,
          span {
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            border: 2px solid white;
          }
          .img1 {
            position: relative;
            left: 0px;
            z-index: 0;
          }
          .img2 {
            position: relative;
            left: -12px;
            z-index: 1;
          }
          .img3 {
            position: relative;
            left: -24px;
            z-index: 3;
          }
          .more {
            @include flex_center();
            color: #1c1d22;
            font-family: Inter;
            font-size: 0.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: 100%; /* 0.5rem */
            position: relative;
            left: -36px;
            z-index: 4;
            background-color: #fff;
            border-color: #1c1d221f;
          }
        }
      }
    }
  }
  .analytics {
    width: 65.5rem;
    height: 21.9375rem;
    border-radius: 1.25rem;
    border: 1px solid #f8f9fa;
    background: var(--white-100, #fff);
    box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.5);
    margin-top: 3.56rem;
    padding-top: 1.56rem;
    padding-left: 1.37rem;
    h5 {
      color: var(--dark-color-dark-1, #3a3a3c);
      font-family: Inter;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2rem; /* 160% */
    }
    .line2 {
      @include flex_center();
      justify-content: end;
      outline: none;
      padding-right: 5.26rem;
      select {
        display: inline-block;
        border: none;
        option {
          border-radius: 0.125rem;
          background: var(--light-color-light-4, #fafafc);
          color: var(--dark-color-dark-2, #6b7588);
          text-align: right;
          font-family: Inter;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1rem; /* 133.333% */
        }
      }
    }
  }
  .application-list {
    width: 66.68081rem;
    height: 21.56919rem;
    background: var(--white-100, #fff);
    box-shadow: 0px 8px 24px 0px rgba(69, 69, 80, 0.1);
    margin-top: 1.75rem;
    h5 {
      color: var(--dark-color-dark-1, #3a3a3c);

      /* Header/H4 */
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5rem; /* 150% */
      padding-top: 1.77rem;
      padding-left: 1.75rem;
    }
    .all {
      @include flex_center();
      justify-content: end;
      outline: none;
      padding-right: 2.89rem;
      button {
        outline: none;
        border: none;
        color: var(--brand-color-darker, #7c6512);
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; /* 171.429% */
        background-color: transparent;
      }
    }
  }
}
